{% extends "base.html" %} {% load staticfiles %}

{% block content%}
    <div class="content">
        <div class="container">
            <h2>About Us</h2>
            <div class="about-head">
                <img src="{% static 'img/founder.jpg' %}" class="img-responsive" alt="" />
                <div class="about-info">
                    <h3>About Our Guidance</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="ministries-sec">
                <div class="col-md-6 what-do">
                    <h3>What We Do</h3>
                    <ul>
                        <li><a href="#">Always free from repetition</a></li>
                        <li><a href="#">Vestibulum rhoncus nibh quis dui fermentum iaculis.</a></li>
                        <li><a href="#">The standard chunk of Lorem Ipsum</a></li>
                        <li><a href="#">In consequat dolor in lorem egestas ultrices.</a></li>
                        <li><a href="#">Ultrices rhoncus nibh quis dui.</a></li>
                    </ul>
                </div>
                <div class="col-md-6 activites">
                    <h3>Activities</h3>
                    <ul>
                        <li><a href="#">Always free from repetition</a></li>
                        <li><a href="#">Vestibulum rhoncus nibh quis dui fermentum iaculis.</a></li>
                        <li><a href="#">The standard chunk of Lorem Ipsum</a></li>
                        <li><a href="#">Ultrices rhoncus nibh quis dui.</a></li>
                        <li><a href="#">In consequat dolor in lorem egestas ultrices.</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="team">
                <h3>Our Team</h3>
                <div class="grid_4">
                    <div class="team-grid">
                        <img src="{% static 'img/a1.jpg' %}" alt="">
                        <h4>Phasellus scipitilifen lus.</h4>
                        <p>Kuspendisse laoreet augue iderti wer interdum merti oremolo lectusto odio, sedorolu fringilla estero libero. </p>
                    </div>
                </div>
                <div class="grid_4">
                    <div class="team-grid">
                        <img src="{% static 'img/a2.jpg' %}" alt="">
                        <h4>Phasellus scipitilifen lus.</h4>
                        <p>Kuspendisse laoreet augue iderti wer interdum merti oremolo lectusto odio, sedorolu fringilla estero libero. </p>
                    </div>
                </div>
                <div class="grid_4 span66">
                    <div class="team-grid">
                        <img src="{% static 'img/a3.jpg' %}" alt="">
                        <h4>Phasellus scipitilifen lus.</h4>
                        <p>Kuspendisse laoreet augue iderti wer interdum merti oremolo lectusto odio, sedorolu fringilla estero libero. </p>
                    </div>
                </div>
                <div class="grid_4">
                    <div class="team-grid">
                        <img src="{% static 'img/a4.jpg' %}" alt="">
                        <h4>Phasellus scipitilifen lus.</h4>
                        <p>Kuspendisse laoreet augue iderti wer interdum merti oremolo lectusto odio, sedorolu fringilla estero libero. </p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}
